body {
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    font-family: 'Open Sans', sans-serif;
}

/* Contenedor principal */
.cardInicio {
    border: 10px solid #2541B2;
    max-width: 60rem;
    width: 900px;
    margin: auto;
    height: 670px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.logoImgInicio {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 1px auto 5rem auto ;
}

.card {
    border: 10px solid #2541B2;
    max-width: 60rem;
    width: 900px;
    margin: auto;
    height: 690px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.carduserEdit {
    border: 10px solid #2541B2;
    max-width: 60rem;
    width: 900px;
    margin: auto;
    height: 1200px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.card-user-edit, .card-pacientes {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.cardLogin {
    max-width: 800rem;
    width: 15.2cm;
    margin: auto;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
}

.menu {
    max-width: 60rem;
    width: 21cm;
    margin: auto;
    height: 780px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
}

.panel-menu {
    background-color: #1768AC;
    border-radius: 10px;
    padding: 20px;
    height: 740px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    margin-bottom: 20px;
    width: 20cm;
}
.logoImgMenu {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 1px auto 5rem auto ;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
    position: relative;
}
/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Imagen del logo */
.logo-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 7rem auto 5rem auto;
}

/* Título */
h4 {
    font-size: 30px;
    color: #007bff;
    margin-bottom: 20px;
    cursor: default;
}
h5 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    cursor: default;
}
p, h1, h2, h3, h4, h5, h6 {
    user-select:none;
    cursor:default;
    margin:0;
}

/* Lista */
ul.bullets {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}
ul.bullets li {
    margin: 15px 0;
    font-size: 20px;
    color: #333;
}
ul.bullets li h5 {
    margin: 0;
    font-weight: normal;
}
ul.bullets li p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #666;
}



/* Botones */
.ui-button-primary, .ui-button-secondary {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}
.ui-button-primary:hover, .ui-button-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}
.login-page {
    background: url('../../images/fondohospital.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    min-height: 100vh;        /* Ocupa toda la altura de la pantalla */
    user-select: none !important;
    cursor: default !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.outOfRange {
    background-color: #fff9c4 !important; /* amarillo claro */
}

.login-panel{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.default-page {
    background: #f8f9fa;
}
.index-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;      /* ocupa todo el alto de la pantalla */
    padding: 1.5rem;
    flex-direction: column; /* asegura que los elementos se apilen verticalmente */
    margin: 0;
    user-select: none !important;
    cursor: default !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}
.index-page .centered-card {
    max-width: 80000px;
    width: 50%;
    padding: 1rem;
    user-select: none !important;
    cursor: default !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}
.indexLogin-page .centered-card {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    user-select: none !important;
    cursor: default !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}
.panel {
    background-color: #1768AC;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    margin-bottom: 20px;
    width: 20cm;
}
.background-image {
    background: url('../../images/fondohospital.jpg') no-repeat center center fixed;
    background-size: cover;
}body.background-image {
     background-color: #f4f6f9;
     font-family: 'Segoe UI', sans-serif;
     margin: 0;
     padding: 0;
 }

.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.card-user-edit{
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.page-title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 2rem;
}

.form-grid {
    width: 100%;
}

.ui-panelgrid .ui-outputlabel {
    font-weight: bold;
}

.ui-panel {
    margin-bottom: 1rem;
}
