body {
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    font-family: 'Open Sans', sans-serif;
}

/* Contenedor principal */
.card {
    border: 10px solid #2541B2;
    max-width: 60rem;
    width: 900px;
    margin: auto;
    height: 650px;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
    position: relative;
}
/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Imagen del logo */
.logo-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto 50px;
    object-fit: contain;
}

/* Título */
h4 {
    font-size: 26px;
    color: #007bff;
    margin-bottom: 20px;
}

/* Lista */
ul.bullets {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}
ul.bullets li {
    margin: 15px 0;
    font-size: 20px;
    color: #333;
}
ul.bullets li h5 {
    margin: 0;
    font-weight: normal;
}

/* Botones */
.ui-button-primary, .ui-button-secondary {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}
.ui-button-primary:hover, .ui-button-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}
.login-page {
    background: url('../../images/fondohospital.jpg') no-repeat center center fixed;
    background-size: cover;
}

.default-page {
    background: #f8f9fa;
}
.index-page .centered-card {
    max-width: 600px;
    width: 100%;
    margin: 325px;
    padding: 1.5rem;
}
.indexLogin-page .centered-card {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}
.background-image {
    background: url('../../images/fondohospital.jpg') no-repeat center center fixed;
    background-size: cover;
}